.wrapper {
  border-bottom: 2px solid black;
  margin-bottom: 5%;
}

.main {
  padding-top: 20px;
}

.image {
  width: 100%;
  position: relative;
  bottom: 40px;
}

.move {
  margin-top: 5%;
}

.large {
 font-size: 24px;
}

.medium {

}

.shmee {
  font-size: 36px;
}

.small {
  font-size: 16px;
}

.bookmark {
  width: 20%;

}

.remove {
  display: block;
  width: 17%;

}

.cart {}
